body{
    padding: 0;
    margin: 0;
}
header{
    height:100px;
    width: 100%;

}


aside {
    z-index: 1000;
    position: absolute;
    top: 0;
    background-color: rgba(128, 236, 240, 0.575);
    width: 220px;
    height:100%;
    box-shadow: 4px 4px 4px black;
    transition:  1s;
}

#arrow{
    content: url(../imagenes/arrow.png);
    width:40px;
    height:40px;
    background-color: #cecccc  ;
    position: relative;
    left:200px;
    top:50px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
    transition: all 1s ease;
} 

aside ul{
    padding: 0;
    width: 100%;
}

aside li {
    height: 32px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding:10px;
    background-color:#cbe6f1  ;
}
aside li:hover{
    background-color:#5ab9b9  ;
}
aside li span{
    margin-top:7px;
    margin-left: 5px;
}



aside .selected{
    background-color: #5ab9b9 ;
    border-left: 6px solid gray;
}

aside .selected:hover{
    background-color: #5ab9b9 ;
    border-left: 6px solid gray;
}

.plegado{
    background-color: rgb(86, 95, 122);
    transform: translate(-180px,0)
    
}
.plegado div{
  transform: rotate(180deg);
}


/*      Crear cortes      */

#crear_cortes{
    margin-left: 95px;

}


#iframe{
    width: 60%;
    margin:0;
}

#caja_corte{
    width: 60%;
    position: relative;
    right: 5%;

}
#cajas{
display:flex;

}

#boton_corte{
    margin-left:22%;
}


input[type=button]:hover{
    background-color:rgb(0, 110, 255);
}
input[type=button]{
    padding: 7px 10px;
    border: 1px solid rgb(0, 110, 255);
    background-color:white;
    border-radius:7px;
}



input[type=text] {
    padding: 8px 20px;
    width:45%;
    max-width:250px ;
    min-width: 100px;
    margin: 4px 5px;
    margin-left:1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.campos div{
    margin:3px 0;
}
input[type=text]:focus {
    background-color: rgba(173, 216, 230, 0.404);
}

iframe{
    /* background-image: linear-gradient(to right, rgb(0, 255, 255) , rgb(0, 140, 255)); */
    border: 2px solid black;
    border-radius: 19px;
    width:60%;
    margin-right: 80px;
    height:290px; 
    margin-top: 10px;
    background-image: linear-gradient(to left, rgb(0, 255, 255) , rgb(0, 140, 255));
}

#corte{
    margin-top: 10px;
    height:290px;

    width:60%;
    border: 2px solid black;
    border-radius: 19px;
    background-image: linear-gradient(to left, rgb(0, 255, 255) , rgb(0, 140, 255));
}

#crear_corte{
    position: relative;
    left: 20%;
}